.rating {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    align-items: center;
    text-align: center;
}
.rating__body{
    position: relative;
    line-height: 0.75;
}
.rating__body::before{
    font-size: 30px;
    color: rgb(177, 177, 177);
    content: "★★★★★";
}
.rating__active{
    font-size: 30px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating__active::before{
    font-size: 30px;
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}
.rating__items{
    display: flex;
    position: absolute;
    width: 125px;
    height: 100%;
    top: 0;
    left: 0;
}
.rating__item{
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating__value{
    line-height: 1;
    padding: 0px 0px 0px 10px;
    line-height: 30px;
}
